<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="todoModule">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

        <title>Node/Angular Todo App</title>

        <!-- SCROLLS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
        <style>
            html                    { overflow-y:scroll; }
            body                    { padding-top:50px; }
            #todo-list              { margin-top:30px; }
            .item                    { padding-bottom:5px; }

            .form-input{
                height:46px;
                padding:6px 12px;
                font-size:14px;
                line-height:1.428571429;
                color:#555;
                vertical-align:middle;
                background-color:#fff;
                border:1px solid #ccc;
                border-radius:4px;
                -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
                box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
                -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                width: 400px;
            }

            .form-input:focus{
                border-color:#66afe9;
                outline:0;
                -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
                box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
            }


        </style>

        <!-- SPELLS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script><!-- load angular -->

        <script src="js/controllers/main.js"></script> <!-- load up our controller -->
        <script src="js/services/todos.js"></script> <!-- load our todos service -->
        <script src="js/core.js"></script> <!-- load our main application -->

    </head>
    <!-- SET THE CONTROLLER AND GET ALL TODOS -->
    <body ng-controller="mainController">
        <div class="container">

            <!-- HEADER AND TODOS COUNT -->
            <div class="jumbotron text-center">
                <h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
            </div>

            <!-- FORM TO CREATE TODOS -->
            <div id="todo-form" class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <div class="form-group">

                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <input type="text" class="form-input input-lg text-center" placeholder="Todo text to add to the MongoDB" ng-model="formData.text">
                            <!-- createToDo() WILL CREATE NEW TODOS -->
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- TODOS LIST -->
            <div id="todo-list" class="row">
                <div class="col-sm-4 col-sm-offset-4">

                    <!-- LOOP OVER THE TODOS IN $scope.todos -->
                    <div ng-repeat="todo in todos">
                        <div class="item">
                            {{ todo.text }}
                            <button type="button" class="btn btn-success btn-xs" ng-click="updateTodo(todo._id)" ng-if="todo.complete == false">Complete</button>
                            <button type="button" class="btn btn-warning btn-xs disabled" ng-if="todo.complete == true">Completed</button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteTodo(todo._id)">Delete</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </body>
</html>